body {
    display: flex;
}

.thebox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 150px; 
    height: 150px;
}

.iconholder {
    display: flex;
    height: 150px;
    width: 100vh;
    justify-content: center;
    margin-top: 20px;
}

form {
    width: 50vh;
    display: flex;
    width: 50vh;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.formbox {
    width: 100vh;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

.customcard {
    width: 50vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.chart{
    width: 100%;
}

.chartbox {
    width: 100%;
    height: min-content;
}

h2 {
    margin-top: 48px;
}
